/* src/App.css */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #242424; /* A dark background for the whole page */
  color: white;
}

/* src/App.css */
.status-message {
  text-align: center;
  font-size: 1.2rem;
  margin: 3rem 0;
  color: #ccc;
}